<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict><key>png</key><string>smiles_01_01.png</string><key>code</key><string>U+1F604</string></dict>
	<dict><key>png</key><string>smiles_01_02.png</string><key>code</key><string>U+1F60A</string></dict>
	<dict><key>png</key><string>smiles_01_03.png</string><key>code</key><string>U+1F603</string></dict>
	<dict><key>png</key><string>smiles_01_04.png</string><key>code</key><string>U+263A</string></dict>
	<dict><key>png</key><string>smiles_01_05.png</string><key>code</key><string>U+1F609</string></dict>
	<dict><key>png</key><string>smiles_01_06.png</string><key>code</key><string>U+1F60D</string></dict>
	<dict><key>png</key><string>smiles_01_07.png</string><key>code</key><string>U+1F618</string></dict>
	<dict><key>png</key><string>smiles_01_08.png</string><key>code</key><string>U+1F61A</string></dict>   
	<dict><key>png</key><string>smiles_01_09.png</string><key>code</key><string>U+1F633</string></dict>  
	<dict><key>png</key><string>smiles_01_10.png</string><key>code</key><string>U+1F60C</string></dict>   
	<dict><key>png</key><string>smiles_01_11.png</string><key>code</key><string>U+1F601</string></dict>   
	<dict><key>png</key><string>smiles_02_01.png</string><key>code</key><string>U+1F61C</string></dict>   
	<dict><key>png</key><string>smiles_02_02.png</string><key>code</key><string>U+1F61D</string></dict>   
	<dict><key>png</key><string>smiles_02_03.png</string><key>code</key><string>U+1F612</string></dict>   
	<dict><key>png</key><string>smiles_02_04.png</string><key>code</key><string>U+1F60F</string></dict>   
	<dict><key>png</key><string>smiles_02_05.png</string><key>code</key><string>U+1F613</string></dict>   
	<dict><key>png</key><string>smiles_02_06.png</string><key>code</key><string>U+1F614</string></dict>   
	<dict><key>png</key><string>smiles_02_07.png</string><key>code</key><string>U+1F61E</string></dict>   
	<dict><key>png</key><string>smiles_02_08.png</string><key>code</key><string>U+1F616</string></dict>   
	<dict><key>png</key><string>smiles_02_09.png</string><key>code</key><string>U+1F625</string></dict>   
	<dict><key>png</key><string>smiles_02_10.png</string><key>code</key><string>U+1F630</string></dict>   
	<dict><key>png</key><string>smiles_02_11.png</string><key>code</key><string>U+1F628</string></dict>   
	<dict><key>png</key><string>smiles_03_01.png</string><key>code</key><string>U+1F623</string></dict>   
	<dict><key>png</key><string>smiles_03_02.png</string><key>code</key><string>U+1F622</string></dict>   
	<dict><key>png</key><string>smiles_03_03.png</string><key>code</key><string>U+1F62D</string></dict>   
	<dict><key>png</key><string>smiles_03_04.png</string><key>code</key><string>U+1F602</string></dict>   
	<dict><key>png</key><string>smiles_03_05.png</string><key>code</key><string>U+1F632</string></dict>   
	<dict><key>png</key><string>smiles_03_06.png</string><key>code</key><string>U+1F631</string></dict>   
	<dict><key>png</key><string>smiles_03_07.png</string><key>code</key><string>U+1F620</string></dict>   
	<dict><key>png</key><string>smiles_03_08.png</string><key>code</key><string>U+1F621</string></dict>   
	<dict><key>png</key><string>smiles_03_09.png</string><key>code</key><string>U+1F62A</string></dict>   
	<dict><key>png</key><string>smiles_03_10.png</string><key>code</key><string>U+1F637</string></dict>   
	<dict><key>png</key><string>smiles_03_11.png</string><key>code</key><string>U+1F47F</string></dict>   
	<dict><key>png</key><string>smiles_04_01.png</string><key>code</key><string>U+1F47D</string></dict>   
	<dict><key>png</key><string>smiles_04_02.png</string><key>code</key><string>U+1F49B</string></dict>   
	<dict><key>png</key><string>smiles_04_03.png</string><key>code</key><string>U+1F499</string></dict>   
	<dict><key>png</key><string>smiles_04_04.png</string><key>code</key><string>U+1F49C</string></dict>   
	<dict><key>png</key><string>smiles_04_05.png</string><key>code</key><string>U+1F497</string></dict>   
	<dict><key>png</key><string>smiles_04_06.png</string><key>code</key><string>U+1F49A</string></dict>  
	<dict><key>png</key><string>smiles_04_07.png</string><key>code</key><string>U+2764</string></dict>
	<dict><key>png</key><string>smiles_04_08.png</string><key>code</key><string>U+1F494</string></dict>   
	<dict><key>png</key><string>smiles_04_09.png</string><key>code</key><string>U+1F493</string></dict>   
	<dict><key>png</key><string>smiles_04_10.png</string><key>code</key><string>U+1F498</string></dict>   
	<dict><key>png</key><string>smiles_04_11.png</string><key>code</key><string>U+2728</string></dict>   
	<dict><key>png</key><string>smiles_05_01.png</string><key>code</key><string>U+1F31F</string></dict>   
	<dict><key>png</key><string>smiles_05_02.png</string><key>code</key><string>U+1F4A2</string></dict>   
	<dict><key>png</key><string>smiles_05_03.png</string><key>code</key><string>U+2755</string></dict>   
	<dict><key>png</key><string>smiles_05_04.png</string><key>code</key><string>U+2754</string></dict>   
	<dict><key>png</key><string>smiles_05_05.png</string><key>code</key><string>U+1F4A4</string></dict>   
	<dict><key>png</key><string>smiles_05_06.png</string><key>code</key><string>U+1F4A8</string></dict>   
	<dict><key>png</key><string>smiles_05_07.png</string><key>code</key><string>U+1F4A6</string></dict>   
	<dict><key>png</key><string>smiles_05_08.png</string><key>code</key><string>U+1F3B6</string></dict>   
	<dict><key>png</key><string>smiles_05_09.png</string><key>code</key><string>U+1F3B5</string></dict>   
	<dict><key>png</key><string>smiles_05_10.png</string><key>code</key><string>U+1F525</string></dict>   
	<dict><key>png</key><string>smiles_05_11.png</string><key>code</key><string>U+1F4A9</string></dict>   
	<dict><key>png</key><string>smiles_06_01.png</string><key>code</key><string>U+1F44D</string></dict>   
	<dict><key>png</key><string>smiles_06_02.png</string><key>code</key><string>U+1F44E</string></dict>   
	<dict><key>png</key><string>smiles_06_03.png</string><key>code</key><string>U+1F44C</string></dict>   
	<dict><key>png</key><string>smiles_06_04.png</string><key>code</key><string>U+1F44A</string></dict>   
	<dict><key>png</key><string>smiles_06_05.png</string><key>code</key><string>U+270A</string></dict>   
	<dict><key>png</key><string>smiles_06_06.png</string><key>code</key><string>U+270C</string></dict>   
	<dict><key>png</key><string>smiles_06_07.png</string><key>code</key><string>U+1F44B</string></dict>   
	<dict><key>png</key><string>smiles_06_08.png</string><key>code</key><string>U+270B</string></dict>   
	<dict><key>png</key><string>smiles_06_09.png</string><key>code</key><string>U+1F450</string></dict>   
	<dict><key>png</key><string>smiles_06_10.png</string><key>code</key><string>U+1F446</string></dict>   
	<dict><key>png</key><string>smiles_06_11.png</string><key>code</key><string>U+1F447</string></dict>   
	<dict><key>png</key><string>smiles_07_01.png</string><key>code</key><string>U+1F449</string></dict>   
	<dict><key>png</key><string>smiles_07_02.png</string><key>code</key><string>U+1F448</string></dict>   
	<dict><key>png</key><string>smiles_07_03.png</string><key>code</key><string>U+1F64C</string></dict>   
	<dict><key>png</key><string>smiles_07_04.png</string><key>code</key><string>U+1F64F</string></dict> 
	<dict><key>png</key><string>smiles_07_05.png</string><key>code</key><string>U+261D</string></dict>
	<dict><key>png</key><string>smiles_07_06.png</string><key>code</key><string>U+1F44F</string></dict>   
	<dict><key>png</key><string>smiles_07_07.png</string><key>code</key><string>U+1F4AA</string></dict>   
	<dict><key>png</key><string>smiles_07_08.png</string><key>code</key><string>U+1F6B6</string></dict>   
	<dict><key>png</key><string>smiles_07_09.png</string><key>code</key><string>U+1F3C3</string></dict>   
	<dict><key>png</key><string>smiles_07_10.png</string><key>code</key><string>U+1F46B</string></dict>   
	<dict><key>png</key><string>smiles_07_11.png</string><key>code</key><string>U+1F483</string></dict>   
	<dict><key>png</key><string>smiles_08_01.png</string><key>code</key><string>U+1F46F</string></dict>   
	<dict><key>png</key><string>smiles_08_02.png</string><key>code</key><string>U+1F646</string></dict>   
	<dict><key>png</key><string>smiles_08_03.png</string><key>code</key><string>U+1F645</string></dict>   
	<dict><key>png</key><string>smiles_08_04.png</string><key>code</key><string>U+1F481</string></dict>   
	<dict><key>png</key><string>smiles_08_05.png</string><key>code</key><string>U+1F647</string></dict>   
	<dict><key>png</key><string>smiles_08_06.png</string><key>code</key><string>U+1F48F</string></dict>   
	<dict><key>png</key><string>smiles_08_07.png</string><key>code</key><string>U+1F491</string></dict>   
	<dict><key>png</key><string>smiles_08_08.png</string><key>code</key><string>U+1F486</string></dict>   
	<dict><key>png</key><string>smiles_08_09.png</string><key>code</key><string>U+1F487</string></dict>   
	<dict><key>png</key><string>smiles_08_10.png</string><key>code</key><string>U+1F485</string></dict>   
	<dict><key>png</key><string>smiles_08_11.png</string><key>code</key><string>U+1F466</string></dict>   
	<dict><key>png</key><string>smiles_09_01.png</string><key>code</key><string>U+1F467</string></dict>   
	<dict><key>png</key><string>smiles_09_02.png</string><key>code</key><string>U+1F469</string></dict>   
	<dict><key>png</key><string>smiles_09_03.png</string><key>code</key><string>U+1F468</string></dict>   
	<dict><key>png</key><string>smiles_09_04.png</string><key>code</key><string>U+1F476</string></dict>   
	<dict><key>png</key><string>smiles_09_05.png</string><key>code</key><string>U+1F475</string></dict>   
	<dict><key>png</key><string>smiles_09_06.png</string><key>code</key><string>U+1F474</string></dict>   
	<dict><key>png</key><string>smiles_09_07.png</string><key>code</key><string>U+1F471</string></dict>   
	<dict><key>png</key><string>smiles_09_08.png</string><key>code</key><string>U+1F472</string></dict>   
	<dict><key>png</key><string>smiles_09_09.png</string><key>code</key><string>U+1F473</string></dict>   
	<dict><key>png</key><string>smiles_09_10.png</string><key>code</key><string>U+1F477</string></dict>   
	<dict><key>png</key><string>smiles_09_11.png</string><key>code</key><string>U+1F46E</string></dict>   
	<dict><key>png</key><string>smiles_10_01.png</string><key>code</key><string>U+1F47C</string></dict>   
	<dict><key>png</key><string>smiles_10_02.png</string><key>code</key><string>U+1F478</string></dict>   
	<dict><key>png</key><string>smiles_10_03.png</string><key>code</key><string>U+1F482</string></dict>
	<dict><key>png</key><string>smiles_10_04.png</string><key>code</key><string>U+1F480</string></dict>   
	<dict><key>png</key><string>smiles_10_05.png</string><key>code</key><string>U+1F463</string></dict>   
	<dict><key>png</key><string>smiles_10_06.png</string><key>code</key><string>U+1F48B</string></dict>   
	<dict><key>png</key><string>smiles_10_07.png</string><key>code</key><string>U+1F444</string></dict>   
	<dict><key>png</key><string>smiles_10_08.png</string><key>code</key><string>U+1F442</string></dict>   
	<dict><key>png</key><string>smiles_10_09.png</string><key>code</key><string>U+1F440</string></dict>   
	<dict><key>png</key><string>smiles_10_10.png</string><key>code</key><string>U+1F443</string></dict>   
</array>                      
</plist>
